
#div1{
    border: red solid; width: 700px; height: 400px; text-align: center;margin: auto; background-color: rgb(252, 159, 159);
}
#div2{
    border: rgb(3, 134, 69) solid; width:350px ; height:150px ; text-align: center; margin: auto;
}